/* Стили для заголовка формы */
h2 {
    text-align: center;
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
}

/* Стили для формы */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Общие стили для всех полей формы */
form p {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
select {
    width: 100%;
    padding: 8px 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    background-color: #fff;
    outline: none;
    transition: border-color 0.3s ease;
}

input[type="text"]:focus,
select:focus {
    border-color: #4CAF50;
}

/* Стили для группы полей с датой */
form p select {
    width: 48%;
    display: inline-block;
    margin-right: 4%;
}

form p select:last-child {
    margin-right: 0;
}

/* Кнопка отправки */
button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

/* Ссылка "Назад" */
a {
    display: block;
    text-align: center;
    margin-top: 20px;
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}
