h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.styled-form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.styled-form p {
    margin: 10px 0;
}

.styled-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.styled-form input[type="text"],
.styled-form input[type="password"],
.styled-form input[type="email"],
.styled-form input[type="date"]
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.styled-form input:invalid {
    border-color: #f44336;
}

.styled-form input:valid {
    border-color: #4caf50;
}


.styled-form button {
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.styled-form button:hover {
    background-color: #0056b3;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}