{% extends 'base.html' %}

{% block title %}Мои банковские карточки{% endblock %}

{% block content %}
	<h2>Мои банковские карточки</h2>
	<button><a href="{% url 'add-bank-card' %}">Добавить новую карточку</a></button>

	{% for card in cards %}
		<div>
			<p>{{ card }} ({{ card.expiry_date|date:'F Y' }})</p>
			<a href="{% url 'edit-bank-card' card.id %}">Редактировать |</a>
			<a href="{% url 'delete-bank-card' card.id %}">Удалить</a>
		</div>
		{% if not forloop.last %}
			<hr>
		{% endif %}
	{% endfor %}
{% endblock %}